/* for block of numbers */
td.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: center;
  color: #ccc;
  border-right: 1px solid #ccc;
  vertical-align: top;
  position: absolute;
  background: #322931;
  padding: 0.1em 0.5em !important;
  width: 40px;
}

/* for block of code */
td.hljs-ln-code {
  padding: 0.1em 0 !important;
  padding-right: 20px !important;
}

/* Custom Styling */
* {
  box-sizing: border-box;
}
body {
  color: #333;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1.5em;
}

/* Page Header */
header#page-header {
  background-color: rgba(2, 133, 166, 0.9);
  color: white;
}
header#page-header > .container {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
}
header#page-header .title {
  font-size: 1.8em;
  font-weight: 600;
  margin: 0;
}
header#page-header .subtitle {
  font-weight: 500;
  opacity: 0.8;
  margin: 0.7em 0 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
header#page-header .subtitle > span {
  padding: 0.2em 0.6em 0.2em 0;
}
header#page-header .subtitle > small {
  opacity: 0.6;
}

/* Sections with tasks */
section {
  display: flex;
  flex-direction: column;
  padding: 1.6em 0;
}
section:first-of-type {
  padding-top: 1em;
}
section:not(:first-of-type) {
  border-top: 1px solid #ccc;
}
.section-header code {
  font-style: italic;
  color: #777;
  padding: 0 0.3em;
}
.section-header em {
  opacity: 0.7;
  font-size: 0.9em;
}
.section-header b {
  text-transform: uppercase;
}
.section-header q {
  font-weight: 600;
}
.section-header p {
  line-height: 1.4em;
}
.section-header i {
  text-decoration: underline;
  font-weight: 600;
}
.section-content {
  display: flex;
  flex-direction: column;
}
.section-content > .result-box {
  margin-bottom: 8px;
  position: relative;
}
.section-content em {
  font-size: 0.9em;
  opacity: 0.8;
}
.section-content .result {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  min-width: 100%;
  min-height: 42px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5em 2.5em 0.5em 0.8em;
  margin: 0.5em 0;
  background-color: #fff;
  overflow-y: auto;
  white-space: nowrap;
}
.section-content .result::after {
  content: '';
  flex: 0 0 44px;
  height: 22px;
}
.section-content .info-box {
  position: absolute;
  right: 1px;
  bottom: 13px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0.3em 0.7em;
  background-color: white;
}
.section-content .info-icon {
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0.3em 0;
  background-color: #909090;
  font-size: 0.5em;
  cursor: pointer;
  z-index: 2;
}
.section-content .info-text {
  width: 0;
  font-size: 0.8em;
  border: 1px solid #ccc;
  border-radius: 12px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  display: flex;
  align-items: flex-end;
  transition: all 0.3s ease-in;
}
.section-content .info-icon.show-info + .info-text {
  width: 100%;
  opacity: 1;
  visibility: visible;
  margin-right: 10px;
  padding: 0.3em 1em;
}
.section-content .info-text > span {
  padding-right: 4px;
}
.section-content > .code-box > pre {
  display: flex;
}
.section-content > .code-box code.code {
  overflow: auto;
  padding-left: 0;
  width: 100%;
  border-radius: 4px;
  min-height: 2.3em;
}
.section-content > .code-box code.code:empty::before {
  content: 'Empty code block';
  color: white;
  padding-left: 1.2em;
  opacity: 0.5;
  font-size: 0.8em;
}

/* Input form */
.input-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  margin-bottom: 0.3em;
}
.input-box label {
  width: 80px;
}
.input-box input[type='number'] {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-height: 24px;
  padding: 0.5em 0.8em;
  outline: none;
}
form {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8em;
}
form input[type='button'] {
  width: 200px;
  padding: 0.5em 0.8em;
  background-color: rgba(2, 133, 166, 0.9);
  color: white;
  outline: none;
  border: none;
  border-radius: 4px;
  margin: 0.5em 0;
  cursor: pointer;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  margin-top: 4em;
}
footer > .container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1.5em;
}
footer h4 {
  margin: 0.5em;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.1em;
  opacity: 0.8;
}
footer p {
  font-size: 0.9em;
  margin: 0.5em;
}
footer span {
  opacity: 0.5;
  padding-right: 0.4em;
}
footer a {
  color: rgba(2, 133, 166, 0.9);
  opacity: 1;
}
